/* CITE http://stackoverflow.com/questions/18754141/unordered-list-with-checkmarks-list-style-positions-outside-text-aligned-on-the */
/*cdd for checkboxes, adapted from above cite.*/
/*&#10004; check*/
div h1 {
  font-family: Impact;
  font-size: 28pt;
}

div h6 {
  font-size: 10pt;
  color: #999999;
}

li:before
{
    content: '◻';
    margin-left: -1em;
    margin-right: .100em;
}

ul
{
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}

#main_za {
  width: 960px;
  height: 500px;
  margin: 0px auto 0px auto;
  display: inline;
}

main {
  width: 960px;
  margin: 30px auto;
}

#receipe {
  background-image: url(lab-assets/list-bg.png);
}

#receipe_list {
  float: left;
  margin-left: 50px;
}
#list_two {
  float: right;
  margin-right: 100px;
}

div input {
  float: right;
}

.clear {
  clear: both;
}
footer {
  margin: 0 auto 0 auto;
  width: 960px;
  display: inline;
}

figcaption {
  margin: 16px auto 16px auto;
  width: 960px;
}
figure {
  margin: 0 auto 0 auto;
  width: 100px;
}

.poop {
  margin-left: 70px;
}


/*
.checked
{
    content: '☑';
    margin-left: -1em;
    margin-right: .100em;
}

.checked
{
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}*/
/*above is for the list */
